{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent () }}

    {% stylesheets '@BCGContactBundle/Resources/public/css/*' %}
    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# If not logged in show login fields and sign up button in nav bar.
   If logged in show signed in as username and agency and logout button #}
{% block navigation %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    	<div id="logged-in-as">
    		Logged in as: <span class="highlight">{{ app.user.username }} with the {{ app.user.agency }} Agency</span>
    	</div>
    	<a id="logout-btn" class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Log out</a>
	{% else %}
		{{ render(url('fos_user_security_login')) }}
	{% endif %}
{% endblock %}

{% block body %}	
	{{ block('fos_user_content') }}
{% endblock %}