{% extends 'BCGContactBundle::layout.html.twig' %}

{% block title %}Edit Agency{% endblock %}

{% block body %}
	{% trans_default_domain 'FOSUserBundle' %}

	<div class="form-fields col-md-6 col-md-offset-3 top-space-md">

		{# If logged in user is part of this agency render edit form
		   else display not permitted message #}
		{% if agency == app.user.agency %}
			<div class="alert alert-info">Edit this agency's details below:</div>
			<br>
			{# Render entire edit form generated in AgencyController#edit #}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% else %}
			<div class="alert alert-danger">
				Only members of {{agency.name}} can edit this agency.
			</div>
			<br>
		{% endif %}

		{# Back button returns to this agency's show page #}
		<a class="btn btn-default btn-block" href="{{ path('BCGContactBundle_agency_show', { 'id': agency.id }) }}">
			<i class="glyphicon glyphicon-menu-left chevron-left"></i> 
			Back
		</a>
	</div>
{% endblock %}